<h1>글작성</h1>
<p>게시글 작성 페이지</p>
<form action='/post/create'>
    제목 : <input type='text' name='title'><br/>
    내용 : <input type='text' name='content'><br/>
    <input type='submit' value='글쓰기'>
</form>
