<h1>회원가입</h1>
<p>회원 가입 페이지</p>
<form action='/user/create'>
    email : <input type='text' name='email'><br/>
    password : <input type='password' name='password'><br/>
    <input type='submit' value='회원가입'>
</form>
